<!-- static declaration and DTL values go here -->
{% load static %}

<!-- {% url 'home' as home_url %} -->
{% url 'index' as home_url %}
{% url 'create_system' as create_url %}
{% url 'my_systems' as my_systems_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spec A Console is a fun site for people to describe their &quot;what if&quot; 
        games consoles from an alternate history">
    <title>{% block title %}Spec A System{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preload" as="image" href="{% static 'images/bg-image.webp' %}">

</head>

<body id="top" class="min-vh-100">
    <!-- Header and Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark my-bg-primary" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Spec A Console!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                                href="{% url 'index' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == create_url %}active" aria-current="page{% endif %}"
                                href="{% url 'create_system' %}">Create System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == my_systems_url %}active"
                                aria-current="page{% endif %}" href="{% url 'my_systems' %}">My Systems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid px-0">
        <div class="my-0">
            <div class="col-12">
                <div class="my-bg-secondary border-bottom border-primary py-2 px-3">
                    <h5 class="mb-0 text-start"></h5>
                    {% if user.is_authenticated %}
                    You are currently logged in as <strong>{{ user.username }}</strong>
                    {% else %}
                    Welcome, <strong>Guest</strong>
                    {% endif %}
                    </h5>
                </div>
            </div>
            <div class="col-12">
                <div class="my-bg-secondary border-bottom border-primary py-0 px-3">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message|safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="bg-main-image">
        <!-- Main Content -->
        <main class="container my-4" id="main-content" tabindex="0">
            {% block content %}
            <!-- Page-specific content goes here -->
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-auto">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Us</h5>
                    <p id="contact">
                        Email: <a href="mailto:info@example.com">placeholder@example.com</a><br>
                        Phone: <a href="tel:+1234567890">+1 234 567 890</a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <a href="https://www.twitter.com/" class="me-2" aria-label="Twitter"><i class="bi bi-twitter"></i>Twitter</a>
                    <a href="https://www.facebook.com/" class="me-2" aria-label="Facebook"><i class="bi bi-facebook"></i>Facebook</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around p-3 my-bg-primary text-white">
            <a href="#top" class="navbar-brand">Back to Top</a>
            &copy; {{ year|default:2025 }} Spec A Console!
        </div>
    </footer>

    <!-- Bootstrap JS (with Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>