/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Orbitron", sans-serif;
    --secondary-font: "Quantico", cursive;

    /* CSS HEX */
    --primary-color: #2100a5; /* dark blue */
    --secondary-color: #a5c6e7; /* light blue */
    --highlight-color: #006300; /* dark green */
    --light-highlight: #abe781; /* light green */
}


/* Global styles */

a,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--primary-font);
}

h2 {
    padding-bottom: 1rem;
}

h4 {
    padding-bottom: 0.75rem;
}

p {
    font-family: var(--secondary-font);
}


/* Ensure footer at bottom, main fills all space between header and footer, 
and bg-image scales to cover <main> / {% block %} inheriting template area */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-main-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('/static/images/bg-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /*Black overlay, 50% opacity */
    min-height: 300px; /* Adjust as needed */
    width: 100%;
    color: white; /* Optional: for text contrast */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-blend-mode makes the color blend with the image */
    background-blend-mode: darken;
}

main {
    flex: 1;
}


/* Styling for review cards */

.review-section-bg {
    background-color: var(--highlight-color);
}

.review-user-bg {
    background-color: var(--secondary-color);
}

.review-score-bg {
    background-color: var(--light-highlight);
}

/* general backgrounds */

.my-bg-primary {
    background-color: var(--primary-color)
}

.my-bg-secondary {
    background-color: var(--secondary-color);
}

/* special font colours */

.awaiting-approval {
    color: rgb(224, 54, 54);
}

/* Styling for index.html and my_systems.html */

.card-img-fixed {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

/* Styling for buttons */

.btn-login {
    background-color: var(--highlight-color);
    color: #fff;
    border: 1px solid var(--light-highlight);
}

.btn-cancel {
    background-color: rgb(170, 130, 0);
    color: #fff;
    border: 1px solid  rgb(105, 73, 18);
}

/* Override cripyforms/django form-text style to make help text white for my black bg */
.form-text {
    color: #fff !important;
}

/* Styling to override Bootstrap alert styling */

.info {
    background-color: rgb(221, 221, 140) !important; /* Choose your color */
    color: #000000 !important;           /* Choose your text color */
    border-color: rgb(131, 131, 0) !important;
}

.alert-success {
    background-color: var(--light-highlight) !important; /* Choose your color */
    color: #000000 !important;            /* Choose your text color */
    border-color: var(--highlight-color) !important;
}

.alert-danger {
    background-color: rgb(255, 193, 193) !important; /* Choose your color */
    color: #000000 !important;            /* Choose your text color */
    border-color: #e51616 !important;
}