/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Orbitron", sans-serif;
    --secondary-font: "Quantico", cursive;

    /* CSS HEX */
    --primary-color: #2100a5; /* dark blue */
    --secondary-color: #a5c6e7; /* light blue */
    --highlight-color: #006300; /* dark green */
    --light-highlight: #abe781; /* light green */
}


/* Global styles */

a,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--primary-font);
}

h2 {
    padding-bottom: 1rem;
}

h4 {
    padding-bottom: 0.75rem;
}

p {
    font-family: var(--secondary-font);
}

.section {
    padding: 1rem 40px 40px 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 30px;

    scroll-margin-top: 3rem;
}


.bg-main-image {
    background-image: url('/static/images/bg-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /*Black overlay, 50% opacity
    min-height: 300px; /* Adjust as needed */
    width: 100%;
    color: white; /* Optional: for text contrast */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-blend-mode makes the color blend with the image */
    background-blend-mode: darken;
}


.my-bg-primary {
    background-color: var(--primary-color)
}

.my-bg-secondary {
    background-color: var(--secondary-color);
}

.awaiting-approval {
    color: rgb(224, 54, 54);
}

/* Styling for index.html and my_systems.html */

.card-img-fixed {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

/* Styling for buttons */

.btn-login {
    background-color: var(--highlight-color);
    color: #fff;
    border: 1px solid var(--light-highlight);
}

/* Styling to override Bootstrap alerts */

.info {
    background-color: rgb(255, 255, 168) !important; /* Choose your color */
    color: #000000 !important;           /* Choose your text color */
    border-color: rgb(131, 131, 0) !important;
}

.alert-success {
    background-color: var(--light-highlight) !important; /* Choose your color */
    color: #000000 !important;            /* Choose your text color */
    border-color: var(--highlight-color) !important;
}

.alert-danger {
    background-color: rgb(255, 193, 193) !important; /* Choose your color */
    color: #000000 !important;            /* Choose your text color */
    border-color: #e51616 !important;
}