{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated and system.created_by == user%}

<h2>Edit System: {{ system.name }}</h2>
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {{ form|crispy }}
    <button type="submit" class="btn btn-login">Save Changes</button>
</form>

<div class="d-flex justify-content-center">
    <a href="{% url 'index' %}" class="btn btn-primary" aria-label="Back to home page">
        &lt;&lt; Leave without saving</a>
</div>

{% else %}
    <p>You must be logged in and the owner of a system to edit/modify it!</p>
{% endif %}

{% endblock %}